{% extends './base.html' %}
{% include './navbar.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid vh-100">
    <div class="row h-100"> 
        <div id="ListaCalculos" class="col-3 d-flex flex-column">
            <div class="p-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="shipName" class="form-label">Embarcación:</label>
                        <input type="text" id="shipName" class="form-control" placeholder="Nombre de la embarcación">
                    </div>
                    <div class="form-group">
                        <label for="doneBy" class="form-label">Realizado por:</label>
                        <input type="text" id="doneBy" class="form-control" placeholder="Nombre del responsable">
                    </div>
                    <div class="form-group">
                        <label for="date" class="form-label">Fecha:</label>
                        <input type="date" id="date" class="form-control">
                    </div>
                </div>
                <div class="d-flex mt-3" style="margin-bottom: 10px;">
                    <button id="addCalculation" class="btn flex-fill" >Añadir cálculo</button>
                    <button id="exportCalculation" class="btn flex-fill">Exportar</button>
                </div>
            </div>
            <div class="row justify-content-end" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                <div class="col-auto ms-2">
                    <input type="checkbox" id="selectAllCalculations" style="margin-left: 2px;">
                </div>
                <div class="col">
                    <label for="selectAllCalculations" style="font-size: 14px; margin-left: -4px; margin-bottom: 8px;">Seleccionar todo</label>
                </div>
            </div>
            <div class="table-responsive" style="overflow-y: auto; height: calc(100vh - 242px); margin-top: 4px;">
                <table class="table table-borderless custom-table" id="calculationsTable">
                    <tbody>
                        <!-- Las filas se añadirán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-9" id="calculationDisplay">
            <!-- Aquí se mostrará la información de cálculo -->
        </div>
    </div>    
</div>

<script src="{{ url_for('static', filename='js/calculations.js') }}"></script>
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

{% endblock %}
