@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;746&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.navbar {
    justify-content: left;
    width: 100%;
    background-color: #C6D936;
}

.navbar-toggler .text-menu {
    font-size: 0.8rem; /* Ajusta el tamaño a tu gusto */
  }
  
body {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

#ListaCalculos{
    background-color: white; 
    box-shadow: 0px 0px 10px #aaa;
    position: relative;
  z-index: 100;
}

.custom-table {
    min-width: 100px;
    max-width: 100%;
  }
  
  .custom-table thead tr,
  .custom-table thead th {
    border-top: none;
    border-bottom: 2px solid #dee2e6; /* Ajustado para mantener un estilo básico de separación */
  }
  
  .custom-table tbody th,
  .custom-table tbody td {
    color: #777;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .custom-table tbody tr:hover,
  .custom-table tbody tr.active {
    background: rgba(0, 0, 0, 0.03);
  }

#addCalculation {
background-color: #557359;
max-width: 100%;
min-width: 100%;
/* Added lines to remove border */
border: none;
outline: none;
}

.rounded {
    border-radius: 15px !important;
}

label {
    text-align: left!important;
}
    
#calculationDisplay{
  background-color: #f0f0f0;
  overflow-y: visible;
}



