{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<form class="form-signin" action="/login" method="POST">
    <div style=" display: flex; justify-content: center;">
        <img class="mb-4" src="{{ url_for('static', filename='img/LOGOTIPO ECOTEA-06.png') }}" alt="" height="100">
    </div>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
    <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        <label for="email">Usuario</label>
    </div>
    <div class="form-floating mt-2">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <label for="password">Contraseña</label>
    </div>

    <button class="w-100 btn btn-lg" type="submit">Iniciar sesión</button>
</form>
{% endblock %}